.logotxt {
	font-size: 24px;
	margin: 0px;
}

.inherit{
	background-color: inherit;
}

.front {
	display: inline-block;
	margin: 10px;
	padding: 20px;
}

.frontimg {
	width: 65%;
	display: inline-block;
	float: left;
}

.imgfront {
	display: block;
	margin: auto;
	width: 92%;
	border-radius: 15px;
	max-width: 1250px;
}

.fronttxt {
	width: 33%;
	display: inline-block;
	font-size: 18px;
}

ul {
	list-style-type: circle;
}

.ul {
	display: block;
	margin: auto;
}

.pics {
	display: flex;
}

.pics1 {
	width: 30%;
	display: block;
	margin: auto;
	border-radius: 5px;
}

.vid {
	width: 98%;
	padding: 10px;
}

.testimonial {
	float: left;
	width:44%;
	margin: 10px;
	text-align: center;
	border: 2px solid grey;
	margin-top: 20px;
	border-radius: 5px;
	margin-left: 21px;
}

.testimonial1 {
	font-style: oblique;
}

blockquote {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16px;
}

.vid1 {
	padding: 20px;
	border-radius: 10px;
}

video {
	display: block;
	width: 49%;
	margin: auto;
}

.comments {
	width: 98%;
	display: block;
	margin: auto;
	padding: 10px;
}

.gif {
	width: 50%;
	float: left;
	display: inline-block;
}

.gif1 {
	margin: auto;
	display: block;
	width: 90%;
}

.comments1 {
	width: 45%;
	display: inline-block;
}

.comments2 {
	width: 99%;
}

.comments3 {
	width: 90%;
	display: block;
	margin: auto;
}

.gradient {
  background: rgba(255,221,0,1);
  background: -webkit-linear-gradient(top, rgba(255,221,0,1) 0%, rgba(184,147,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,221,0,1) 0%, rgba(184,147,0,1) 100%);
}

/*
The code vault
border: 5px solid #001f3f;

	width: 20%
*/
